.form-container{
    width:600px;
    border: 1px solid lightgrey;
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.form-title{
    font-size: 35px;
    color: #2A414F;
    font-weight: 400;
}

.input-group{
    margin-bottom: 20px;
}

.input-group label{
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;

}

.input-group input{
    width: 415px;
    height: 55px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    border-radius: 5px;
    font-size:18px;
}

.form-submit{
    width: 415px;
    height: 55px;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border:none;
    font-size: 20px;
}

.form-link{
    color:#FF9900;
    text-decoration: none;
}