.form-container{
    width: 600px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    border-radius:  5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 20px;
    margin-top:30px;
}

.form-title{
    color: #2A414F;
    font-size:35px;
    font-weight:400;

}
.input-group{
    margin-bottom:20px;

}

.input-group label{
    display: block;
    margin-left:5px;
    margin-bottom: 10px;
}

.input-group input{
    width: 415px;
    height:55px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

.form-submit{
    width:415px;
    height: 55px;
    background-color:rgba(255, 153, 0, 0.3);
    border:none;
    border-radius:  5px;
    font-size:20px;
    cursor: pointer;
}

.form-submit:hover{
    background-color:rgba(255, 153, 0, 0.5);
}

.form-link{
    color: #FF9900;
    text-decoration: none;
}